body {
  text-align: center;
}
.board {
  border: 1px outset blue;
  background-color: lightBlue;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 2px;
  display: inline-block;
}

#startButton {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 20%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.hasBomb {
  border: 1px outset blue;
  background-color: red;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.flag {
  background-color: #fff000;
}
.hide {
  opacity: 0;
}
