body {
  text-align: center;
}
#board {
  width: 560px;
  height: 560px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellowgreen;
  border: 3px outset blue;
}

#board div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: auto;
  border: 3px outset blue;
  background-color: burlywood;
}

#toggleFlag {
  width: 50px;
  height: 40px;
  font-size: large;
  margin-bottom: 10px;
  border-radius: 2px;
  border: none;
}

.clicked {
  background-color: rgb(30, 122, 56);
}
.hasBomb {
  background-color: red;
}

/* body {
  text-align: center;
}
.board {
  border: 1px outset blue;
  background-color: lightBlue;
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 2px;
  display: inline-block;
}
#board {
  flex-wrap: wrap;
}
.clickedTile {
  background-color: gray;
}

#startButton {
  background-color: #fff000;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 20%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.flag {
  background-color: #fff000;
}
.hide {
  opacity: 0;
} */
